= form_for @purchase_order do |f|
  - if @purchase_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
      %ul
        - @purchase_order.errors.full_messages.each do |msg|
          %li= msg
  .purcuahseorder-vendor.clear
    .to
      Send To
    .vendor-select
      .vendor-details
      .vendor-change
        %button.small-btn.btn.btn-edit{:type => "button"}
          %i.fa.fa-undo
          %span.text Change
      %select.text-input
        - @vendors.each do |vendor|
          %option{:value => vendor.id}= vendor.name
  .purcuahseorder-input
    = f.label :description
    = f.text_area :description, :placeholder => "enter your order information..."
  .buttons
    = f.hidden_field :number, :value => @purchase_order.number
    = button_to purchase_orders_path, method: 'get', class: 'btn btn-add' do
      %i.fa.fa-undo.fa-fw
      %span.text Cancel
    = f.submit 'Save and email', class: 'btn btn-save'