= simple_form_for @purchase_order do |f|
	- if @purchase_order.errors.any?
		#error_explanation
			%h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
			%ul
				- @purchase_order.errors.full_messages.each do |msg|
					%li= msg
	-ponumber = @company.prefix + '.' + number_with_delimiter([*100000..999999].sample, :delimiter => '.')
	.wrapper
		.card.purchaseorder
			.purchaseorder-header.clear
				.purchaseorder-number
					.text-label Purchase Order
					.number
						= ponumber
						= f.hidden_field :number, :value => ponumber
				.purchaseorder-address
					=@company.name
					%br
					=@company.email
				.purchaseorder-date
					.text-label Date
					.date
						=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
			.purchaseorder-vendor.clear
				.to
					Send To
				.vendor-select
					.vendor-details
					.vendor-change
						%button.small-btn.btn.btn-edit{:type => "button"}
							%i.fa.fa-undo
							%span.text Change
						-# the instance variable below isn't the vendor document that embedded in the purchase order. It's the one embedded in the company. We use the vendors created there in this form. The data from them is then saved to the purchase order's embedded vendor document. We allow vendor information to be changed for the company but not on the purchase orders. This way, if the Company's vendor data changes, the already saved purchase orders' vendor data doesn't. This vendor data is being passed as a hash string.
						= f.select :vendor, @company.vendors.all.map { |r| [r.name, r.id] }, :include_blank => "Select Vendor"
				.date-required
					Date Required
				.date-field
					= f.input :date_required, :placeholder => "enter a date..."
			.purchaseorder-input
				= f.label :description
				= f.text_area :description, :placeholder => "enter your order information..."
			.purchaseorder-deliverto.clear
				.to
					Deliver To
				.deliverto-select
					.deliverto-details
					.deliverto-change
						%button.small-btn.btn.btn-edit{:type => "button"}
							%i.fa.fa-undo
							%span.text Change
					= f.select :deliver_to, @company.addresses.all.map { |r| [r.name, "{'name' : '"+r.name+"','address' : '"+r.address.squish+"', 'agent' : '"+r.agent+"', 'telephone': '"+r.telephone+"'}"] }, :include_blank => "Select Address"
			.buttons
				= link_to purchase_orders_path, method: 'get', class: 'btn btn-cancel' do
					%i.fa.fa-undo.fa-fw
					%span.text Cancel
				= button_tag(type: 'submit', :name => "status", :value => "complete", :data => { :confirm => 'Are you sure? Once you complete this purchase order, you will not be able to edit its contents.' }, class: "btn btn-add") do
					%i.fa.fa-save.fa-fw
					%span.text Complete
				= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure? Once you complete this purchase order, you will not be able to edit its contents.' }, class: "btn btn-add") do
					%i.fa.fa-envelope-o.fa-fw
					%span.text Complete and email
