= simple_form_for @purchase_order do |f|
  - if @purchase_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
      %ul
        - @purchase_order.errors.full_messages.each do |msg|
          %li= msg
  = f.association :vendor, prompt: "Select a vendor"
  = f.input :status
  = f.input :description
  = f.input :purchasing_agent
  = f.input :tags
  = f.button :submit
