= simple_form_for @purchase_order do |f|
	- if @purchase_order.errors.any?
		#error_explanation
			%h2= "#{pluralize(@purchase_order.errors.count, "error")} prohibited this purchase_order from being saved:"
			%ul
				- @purchase_order.errors.full_messages.each do |msg|
					%li= msg
	- if @purchase_order.number.blank? 
		-ponumber = @company.prefix + '.' + number_with_delimiter([*100000..999999].sample, :delimiter => '.')
	- else
		- ponumber = @purchase_order.number
	.wrapper
		.card.purchaseorder
			.purchaseorder-header.clear
				.purchaseorder-company
					= @company.name
				.purchaseorder-address
					=@company.name
					%br
					=@company.email
				.purchaseorder-from
					.text-label From
					=@company.name
					%br
					=@company.email
					.section
						.text-label Sent By
						= current_user.first_name
						= current_user.last_name
				.purchaseorder-number
					.text-label Purchase Order
					.number
						= ponumber
						= f.hidden_field :number, :value => ponumber
					.section
						.text-label Date
						.date
							=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
			.purchaseorder-vendor.clear
				.to
					.text-label Send To
				.vendor-select
					.vendor-details
						- if !@purchase_order.vendor.name.blank?
							=@purchase_order.vendor.name
							%br
							- if !@purchase_order.vendor.contact.blank?
								Attention: #{@purchase_order.vendor.contact}
								%br
							- if !@purchase_order.vendor.email.blank?
								=@purchase_order.vendor.email
					.vendor-change
						%button.small-btn.btn.btn-edit{:type => "button"}
							%i.fa.fa-undo
							%span.text Change
						-# the instance variable below isn't the vendor document that embedded in the purchase order. It's the one embedded in the company. We use the vendors created there in this form. The data from them is then saved to the purchase order's embedded vendor document. We allow vendor information to be changed for the company but not on the purchase orders. This way, if the Company's vendor data changes, the already saved purchase orders' vendor data doesn't. This vendor data is being passed as a hash string. 
						- if @purchase_order.vendor.name.blank? 
							= f.select :vendor, @company.vendors.all.map { |r| [r.name, r.id] }, :include_blank => "Select Vendor"
						- else
							- id_of_vendor = @company.vendors.where(name: @purchase_order.vendor.name).first.id
							%select{:name => 'purchase_order[vendor]', :id => 'purchase_order_vendor' }
								%option Select Vendor
								- @company.vendors.each do |v|
									%option{:value => "#{v.id}", :selected => id_of_vendor == v.id}
										= v.name
				.date-required
					.text-label Date Required
					.date-field
						= f.input :date_required, :placeholder => "ASAP", :input_html => { :value => 'ASAP' }, :id => "datepicker"
			.purchaseorder-description
				.text-label Description
			.purchaseorder-input
				= f.label :description
				= f.text_area :description, :placeholder => "enter your order information..."
			.purchaseorder-deliverto.clear
				.to
					.text-label Ship To
				.deliverto-select
					.deliverto-details
						- if !@purchase_order.address.name.blank?
							-a = @purchase_order.address
							=a['name']
							%br
							= a["address"]["address_line_1"]
							%br
							- if a["address"]["address_line_2"] != ""
								= a["address"]["address_line_2"]
								%br
							= "#{a["address"]["city"]}, #{a["address"]["state"]}, #{a["address"]["zip"]}"
							%br
							Tel. #{a["telephone"]}
					.deliverto-change
						%button.small-btn.btn.btn-edit{:type => "button"}
							%i.fa.fa-undo
							%span.text Change
					- if @purchase_order.address.name.blank? 
						= f.select :address, @company.addresses.all.map { |r| [r.name, r.id] }, :include_blank => "Select Address"
					- else
						- id_of_address = @company.addresses.where(name: @purchase_order.address.name).first.id
						%select{ :name => 'purchase_order[address]', :id => 'purchase_order_address' } 
							- @company.addresses.each do |a|
								%option{:value => "#{a.id}", :selected => id_of_address == a.id}
									= a.name
				.to
					.text-label Attention
				.deliverto-agent
					- if !@purchase_order.address.name.blank?
						= a['agent']

		.buttons
			-if @purchase_order.status == "draft" || @purchase_order.status == "closed"
				= button_tag(type: 'submit', :name => "status", :value => "open", class: "btn btn-add") do
					%span.text Mark As Open
			= button_tag(type: 'submit', :name => "status", :value => "cancel_changes", class: "btn btn-edit edit-print") do
				%span.text Print
			= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure? Once you email this purchase order, you will not be able to edit its contents.' }, class: "btn") do
				%span.text Send by Email
			= button_tag(type: 'submit', :name => "status", :value => "fax", :data => { :confirm => 'Are you sure? Once you fax this purchase order, you will not be able to edit its contents.' }, class: "btn") do
				%span.text Send by Fax
			- if @purchase_order.status == "open"
				= link_to purchase_order_path, method: 'delete', class: 'btn btn-danger left' do
					%span.text Delete

	.divider.no-print
	.wrapper.section.clear.no-print
		.section-description
			%h3 Internal Use
			%p Use this area to add additional information about this purchase order.
		.section-content
			.card
				= f.input :label, label: 'Label', :placeholder => "enter a label..."
