= render :partial => "shared/header", :locals => {:title => "Purchase Orders",:icon => "fa-pencil-square-o", :hasbutton => true, :button => "Create New PO" }
%ul.tabs.clear
	%li{class: sp('all')}
		=link_to 'All POs', "?all=true"
	%li{class: sp('draft')}
		=link_to 'Drafts', "?status=draft"
	%li{class: sp('open')}
		=link_to 'Open', "?status=open"
	%li{class: sp('closed')}
		=link_to 'Closed', "?status=closed"
	-if sp('archived') == "current"
		%li{class: sp('archived')}
			=link_to 'Archived', "?archived=true"
	-if sp('cancelled') == "current"
		%li{class: sp('cancelled')}
			=link_to 'Cancelled', "?status=cancelled"
	-if sp('deleted') == "current"
		%li{class: sp('deleted')}
			=link_to 'Deleted', "?status=deleted"
.contents
	.search-area.with-button.clear
		.elipsis.btn
			%span.text
				&middot;&middot;&middot;
			.tool-tip.below.left-align
				=link_to 'Archived', "?archived=true"
				=link_to 'Deleted', "?status=deleted"
				=link_to 'Cancelled', "?status=cancelled"
		= form_tag purchase_orders_path, :id => "PO-search-bar", :method => :get do
			%i.fa.fa-search.fa-fw
			= text_field_tag :q, nil, :class => "search-query", :placeholder => "Start typing to search for POs ...", :value => params.has_key?(:q) ? params['q'] : ''

	- if @purchase_orders.length == 0
		.firstrun
			No purchase orders found. Click the button above to create a new one.
	- else
		%table#searchable-table.sortable
			%thead
				%tr
					%th.text-label
						PO Number
						.arrow
					%th.text-label
						Date Sent
						.arrow
					%th.text-label
						Vendor
						.arrow
					%th.text-label
						Label
						.arrow
					%th.text-label
						Status
						.arrow
			%tbody
				- @purchase_orders.each do |purchase_order|
					- classes = ["status-#{purchase_order.status}", ("archived" if purchase_order.archived?)]
					%tr{class: classes}
						%td= link_to purchase_order.number, purchase_order, :class=>"inverted-link"
						%td= purchase_order.date.strftime("%B #{purchase_order.date.day.ordinalize}, %Y")
						%td.vendor
							= purchase_order.vendor.name
							.tool-tip.above
								.title= purchase_order.vendor.name
								.divider
								.details.contact= purchase_order.vendor.contact
								.details.email= link_to purchase_order.vendor.email, "mailto:#{purchase_order.vendor.email}"
								.details.telephone= link_to purchase_order.vendor.telephone, "tel:#{purchase_order.vendor.telephone}"
								.details.fax= purchase_order.vendor.fax
						%td
							= purchase_order.label != "" ? purchase_order.label : raw("&ndash;")
						%td
							%span{class: "label status-#{purchase_order.status}"}= purchase_order.status


					-#= %td= link_to 'Show', purchase_order
					-#= %td= link_to 'Destroy', purchase_order, :method => :delete, :data => { :confirm => 'Are you sure?' }
					-#= %td= link_to 'Edit', edit_purchase_order_path(purchase_order)
		= paginate @purchase_orders
	.page-footer.clear
		= render :partial => "purchase_orders/pager"
