- if @purchase_order.archived != true
	- if @purchase_order.status == "closed"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Closed PO", :hasstatus => true, :status => @purchase_order.status }
	- elsif @purchase_order.status == "open"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Open PO", :hasstatus => true, :status => @purchase_order.status }
	- else @purchase_order.status == "cancelled"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Cancelled PO", :hasstatus => true, :status => @purchase_order.status }
- else
	= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Archived PO", :hasstatus => true, :status => @purchase_order.status }
.wrapper
	- if @purchase_order.archived == true
		.archived.message
			This PO was archived on March 9, 2015.
	- elsif @purchase_order.was_deleted == true
		.deleted.message
			This PO was deleted on March 9, 2015.
	#purchaseorder.card.purchaseorder{class: "#{@purchase_order.status}"}
		.purchaseorder-header.clear
			.purchaseorder-company
				=@company.name
			.purchaseorder-address
				=@company.name
				%br
				=@company.email
			.purchaseorder-from
				.text-label From
				=@company.name
				%br
				=@company.email
				.section
					.text-label Sent By
					= current_user.first_name
					= current_user.last_name
			.purchaseorder-number
				.text-label Purchase Order
				.number
					= @purchase_order.number
				.section
					.text-label Date
					.date
						=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
		.purchaseorder-vendor.clear
			.to
				.text-label Send To
			.vendor-select
				=@purchase_order.vendor.name
				%br
				- if !@purchase_order.vendor.contact.blank?
					Attention: #{@purchase_order.vendor.contact}
					%br
				- if !@purchase_order.vendor.email.blank?
					=@purchase_order.vendor.email
			.date-required
				.text-label Date Required
				.date-field
					=@purchase_order.date_required
		.purchaseorder-description
			.text-label Description
		.purchaseorder-input
			= simple_format(@purchase_order.description)
		.purchaseorder-deliverto.clear
			.to
				.text-label Ship To
			.deliverto-select
				-a = @purchase_order.address
				=a['name']
				- if a["address"]
					%br
					= a["address"]["address_line_1"]
					%br
					- if a["address"]["address_line_2"] != ""
						= a["address"]["address_line_2"]
						%br
					= "#{a["address"]["city"]}, #{a["address"]["state"]}, #{a["address"]["zip"]}"
					%br
				Tel. #{a["telephone"]}
			.to
				.text-label Attention
			.deliverto-agent
				- if !@purchase_order.address.name.blank?
					= a['agent']
					
	.buttons
		= simple_form_for @purchase_order, url: purchase_order_path do |f|

			/ - if @purchase_order.status == "open" && @purchase_order.archived != true && @purchase_order.was_deleted != true
			/ 	= button_tag(type: 'submit', :name => "status", :value => "closed", :data => { :confirm => 'Are you sure?' }, class: "btn btn-close") do
			/ 		%i.fa.fa-times.fa-fw
			/ 		%span.text Mark as Closed
			/ 	= button_tag(type: 'submit', :name => "status", :value => "cancelled", :data => { :confirm => 'Are you sure?' }, class: "btn btn-close") do
			/ 		%i.fa.fa-times.fa-fw
			/ 		%span.text Cancel PO
			/ - if @purchase_order.was_deleted != true 
			/ 	= button_tag(type: 'submit', :name => "status", :value => "duplicate", :data => { :confirm => 'Are you sure?' }, class: "btn btn-duplicate", id: "duplicate-as-new-btn") do
			/ 		%i.fa.fa-times.fa-fw
			/ 		%span.text Duplicate As New
			/ - if @purchase_order.status == "cancelled" && @purchase_order.archived != true && @purchase_order.was_deleted != true
			/ 	= button_tag(type: 'submit', :name => "status", :value => "deleted", :data => { :confirm => 'Are you sure?' }, class: "btn btn-close") do
			/ 		%i.fa.fa-minus-circle.fa-fw
			/ 		%span.text Delete
			/- if @purchase_order.status == "closed" && @purchase_order.archived != true			
			/	= button_tag(type: 'submit', :name => "status", :value => "open", :data => { :confirm => 'Are you sure?' }, class: "btn") do
			/		%i.fa.fa-times.fa-fw
			/		%span.text Mark as Open
			/ - if @purchase_order.archived != true && @purchase_order.was_deleted != true && (@purchase_order.status == "closed" || @purchase_order.status == "cancelled")
			/ 	= button_tag(type: 'submit', :name => "status", :value => "archive", :data => { :confirm => 'Are you sure?' }, class: "btn btn-cancel") do
			/ 		%i.fa.fa-trash.fa-fw
			/ 		%span.text Archive
			/- if @purchase_order.archived == true
			/	= button_tag(type: 'submit', :name => "status", :value => "unarchive", :data => { :confirm => 'Are you sure?' }, class: "btn btn-cancel") do
			/		%i.fa.fa-trash.fa-fw
			/		%span.text UnArchive
			-if @purchase_order.was_deleted == true
				= button_tag(type: 'submit', :name => "status", :value => "undelete", class: "btn btn-cancel") do
					%i.fa.fa-trash.fa-fw
					%span.text UnDelete
			- if @purchase_order.archived != true && @purchase_order.was_deleted != true
				- if @purchase_order.status == "open"
					= button_tag(type: 'submit', :name => "status", :value => "fax", :data => { :confirm => 'Are you sure?' }, class: "btn") do
						%span.text Resend by Fax
					= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure?' }, class: "btn") do
						%span.text Resend by Email

				- elsif @purchase_order.status == "cancelled"
					= button_tag(type: 'submit', :name => "status", :value => "fax", :data => { :confirm => 'Are you sure?' }, class: "btn") do
						%span.text Resend Cancellation Fax
					= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure?' }, class: "btn") do
						%span.text Resend Cancellation Email
= simple_form_for @purchase_order do |f|
	.divider.no-print
	.wrapper.section.clear.no-print
		.section-description
			%h3 Internal Use
			%p Use this area to add additional information about this purchase order.
		.section-content
			.card
				= f.input :label, label: 'Label', :placeholder => "enter a label..."
