- ponumber = 'EMP.' + number_with_delimiter(@purchase_order.number, :delimiter => '.')
= render :partial => "shared/header", :locals => {:title => "Purchase Order "+ponumber,:icon => "fa-list-alt"}
.wrapper
  #purcuahseorder.card.purcuahseorder.saved
    .purcuahseorder-header.clear
      .purcuahseorder-number
        .text-label Purchase Order
        .number
          = ponumber
      .purcuahseorder-address
        The Emporium
        %br>/
        47 Main Street
        %br>/
        Ottawa, Ontario K1S 1B1
      .purcuahseorder-date
        .text-label Date
        .date
          =@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
    .purcuahseorder-vendor.clear
      .to
        Send To
      .vendor-select
        .vendor-details
          =@purchase_order.vendor.name
          %br
          Attention: 
          =@purchase_order.vendor.contact
          %br
          =@purchase_order.vendor.email
    .purcuahseorder-input
      = simple_format(@purchase_order.description)
  .buttons
    = link_to 'Back', purchase_orders_path
    = link_to 'Print', '#', class: 'btn btn-add print'
  .credits
    %p= 'Created with Orderboard -- getorderboard.com'
.divider