- if @purchase_order.archived != true
	- if @purchase_order.status == "closed"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Closed PO"}
	- elsif @purchase_order.status == "open"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Open PO"}
	- else @purchase_order.status == "cancelled"
		= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Cancelled PO"}
- else
	= render :partial => "shared/header", :locals => {:title => @purchase_order.number, :icon => "fa-pencil-square-o", :hasbutton => true, :button => "Archived PO"}
.wrapper
	#purchaseorder.card.purchaseorder
		.purchaseorder-header.clear
			.purchaseorder-company
				= @company.name
			.purchaseorder-address
				=@company.name
				%br
				=@company.email
			.purchaseorder-from
				.text-label From
				=@company.name
				%br
				=@company.email
				.section
					.text-label Sent By
					= current_user.first_name
					= current_user.last_name
			.purchaseorder-number
				.text-label Purchase Order
				.number
					= @purchase_order.number
				.section
					.text-label Date
					.date
						=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
		.purchaseorder-vendor.clear
			.to
				.text-label Send To
			.vendor-select
				=@purchase_order.vendor.name
				%br
				- if !@purchase_order.vendor.contact.blank?
					Attention: #{@purchase_order.vendor.contact}
					%br
				- if !@purchase_order.vendor.email.blank?
					=@purchase_order.vendor.email
			.date-required
				.text-label Date Required
				.date-field
					=@purchase_order.date_required
		.purchaseorder-description
			.text-label Description
		.purchaseorder-input
			= simple_format(@purchase_order.description)
		.purchaseorder-deliverto.clear
			.to
				.text-label Ship To
			.deliverto-select
				-a = @purchase_order.address
				=a['name']
				- if a["address"]
					%br
					= a["address"]["address_line_1"]
					%br
					- if a["address"]["address_line_2"] != ""
						= a["address"]["address_line_2"]
						%br
					= "#{a["address"]["city"]}, #{a["address"]["state"]}, #{a["address"]["zip"]}"
					%br
				Tel. #{a["telephone"]}
			.to
				.text-label Attention
			.deliverto-agent
				- if !@purchase_order.address.name.blank?
					= a['agent']
					
	.buttons
		= simple_form_for @purchase_order, url: purchase_order_path do |f|
			- if @purchase_order.archived != true && @purchase_order.was_deleted != true
				- if @purchase_order.status == "cancelled" && 
					= button_tag(type: 'submit', :name => "status", :value => "fax", :data => { :confirm => 'Are you sure?' }, class: "btn btn-edit email") do
						%span.text Resend Cancellation Fax
					= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure?' }, class: "btn btn-edit email") do
						%span.text Resend Cancellation Email
