- if @purchase_order.status != "closed"
	= render :partial => "shared/header", :locals => {:title => "Purchase Order "+@purchase_order.number,:icon => "fa-list-alt"}
- else
	= render :partial => "shared/header", :locals => {:title => "Purchase Order "+@purchase_order.number,:icon => "fa-list-alt"}
.wrapper
	#purchaseorder.card.purchaseorder.saved
		.purchaseorder-header.clear
			.purchaseorder-number
				.text-label Purchase Order
				.number
					= @purchase_order.number
			.purchaseorder-address
				=@company.name
				%br
				=@company.email
			.purchaseorder-date
				.text-label Date Sent
				.date
					=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
		.purchaseorder-vendor.clear
			.to
				Send To
			.vendor-select
				.vendor-details
					=@purchase_order.vendor.name
					%br
					Attention: 
					=@purchase_order.vendor.contact
					%br
					=@purchase_order.vendor.email
			.date-required
				Date Required
			.date-field
				=@purchase_order.date_required
		.purchaseorder-input
			= simple_format(@purchase_order.description)
		.purchaseorder-deliverto.clear
			.to
				Deliver To
			.deliverto-select
				.deliverto-details
					-a = @purchase_order.address
					=a['name']
					%br
					= a["address"]["address_line_1"]
					%br
					- if a["address"]["address_line_2"] != ""
						= a["address"]["address_line_2"]
						%br
					= "#{a["address"]["city"]}, #{a["address"]["state"]}, #{a["address"]["zip"]}"
					%br
					= a["address"]["country"]
					%br
					=a['agent']
					%br
					
	.buttons.clear.purchaseorder-buttons
		-#= link_to purchase_orders_path, class: 'btn btn-cancel' do
			-#%i.fa.fa-undo.fa-fw
			-#%span.text Back

		= simple_form_for @purchase_order, html: { class: "form-email form-print status-"+@purchase_order.status}, url: purchase_order_path do |f|
			= button_tag(type: 'submit', :name => "status", :value => "open", class: "btn btn-edit print") do
				%i.fa.fa-print.fa-fw
				%span.text Print
			- if @purchase_order.status != "closed" && @purchase_order.label != "archived" && !@purchase_order.vendor.email.blank?
				= button_tag(type: 'submit', :name => "status", :value => "email", :data => { :confirm => 'Are you sure?' }, class: "btn btn-edit email") do
					%i.fa.fa-envelope-o.fa-fw
					%span.text Email

		= simple_form_for @purchase_order, url: purchase_order_path do |f|
			- if @purchase_order.status != "closed" && @purchase_order.label != "archived"
				= button_tag(type: 'submit', :name => "status", :value => "closed", :data => { :confirm => 'Are you sure?' }, class: "btn btn-close") do
					%i.fa.fa-times.fa-fw
					%span.text Mark as Closed
			- else			
				= button_tag(type: 'submit', :name => "status", :value => "open", :data => { :confirm => 'Are you sure?' }, class: "btn") do
					%i.fa.fa-times.fa-fw
					%span.text Mark as Open
			- if @purchase_order.label != "archived" && (@purchase_order.status == "closed" || @purchase_order.status == "complete")
				= button_tag(type: 'submit', :name => "label", :value => "archived", :data => { :confirm => 'Are you sure?' }, class: "btn btn-cancel") do
					%i.fa.fa-trash.fa-fw
					%span.text Archive Purchase Order
	.credits
		%p= 'Created with Swiftorders -- swiftorders.com'
