- if @purchase_order.status != "closed"
	= render :partial => "shared/header", :locals => {:title => "Purchase Order "+@purchase_order.number,:icon => "fa-list-alt"}
- else
	= render :partial => "shared/header", :locals => {:title => "Purchase Order "+@purchase_order.number,:icon => "fa-list-alt"}
.wrapper
	#purchaseorder.card.purchaseorder.saved
		.purchaseorder-header.clear
			.purchaseorder-number
				.text-label Purchase Order
				.number
					= @purchase_order.number
			.purchaseorder-address
				=@company.name
				%br
				=@company.email
			.purchaseorder-date
				.text-label Date Sent
				.date
					=@purchase_order.date.strftime("%B #{@purchase_order.date.day.ordinalize}, %Y")
		.purchaseorder-vendor.clear
			.to
				Send To
			.vendor-select
				.vendor-details
					=@purchase_order.vendor.name
					%br
					Attention: 
					=@purchase_order.vendor.contact
					%br
					=@purchase_order.vendor.email
			.date-required
				Date Required
			.date-field
				=@purchase_order.date_required
		.purchaseorder-input
			= simple_format(@purchase_order.description)
		.purchaseorder-deliverto.clear
			.to
				Deliver To
			.deliverto-select
				.deliverto-details
					-deliver_to = eval(@purchase_order.deliver_to)
					=deliver_to['name']
					%br
					=deliver_to['address']
					%br
					=deliver_to['agent']
					%br
					
	.buttons.clear.purchaseorder-buttons
		= link_to purchase_orders_path, class: 'btn btn-cancel' do
			%i.fa.fa-undo.fa-fw
			%span.text Back
		= link_to '#', class: 'btn btn-edit print' do
			%i.fa.fa-print.fa-fw
			%span.text Print
		= simple_form_for @purchase_order, url: purchase_order_path do |f|
			- if @purchase_order.status != "closed" && @purchase_order.status != "archived"
				= button_tag(type: 'submit', :name => "status", :value => "closed", :data => { :confirm => 'Are you sure?' }, class: "btn btn-close") do
					%i.fa.fa-times.fa-fw
					%span.text Mark as Closed
			- if @purchase_order.status != "archived"
				= button_tag(type: 'submit', :name => "status", :value => "archived", :data => { :confirm => 'Are you sure?' }, class: "btn btn-cancel") do
					%i.fa.fa-trash.fa-fw
					%span.text Archive Purchase Order
	.credits
		%p= 'Created with Swiftorders -- swiftorders.com'
