-hasbutton = false if local_assigns[:hasbutton].nil?
-hasstatus = false if local_assigns[:hasstatus].nil?

.page-header.clear
	.title
		%h2
			%i{:class => "fa #{icon} fa-fw"}
			= title
			-if hasstatus
				%span{class: "label status-#{status}"}= status.capitalize
	-if hasbutton
		.buttons
			-if button == "Create New PO"
				= button_to new_purchase_order_path, method: 'get', class: 'btn btn-primary' do
					%span.text Create New PO
				= render :partial => "purchase_orders/pager"
			-elsif button == "New PO"
				.elipsis.btn
					%span.text
						&middot;&middot;&middot;
					.tool-tip.below.left-align
						= button_tag(type: 'submit', :name => "status", :value => "open", class: "link") do
							%span.text Mark As Open
						= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print edit-print") do
							%span.text Print
				= link_to purchase_orders_path, class: 'btn btn-danger' do
					%span.text Discard
				= button_tag(type: 'submit', :name => "status", :value => "draft", class: "btn btn-save") do
					%span.text Save as Draft
			-elsif button == "Edit PO"
				.elipsis.btn
					%span.text
						&middot;&middot;&middot;
					.tool-tip.below.left-align
						= button_tag(type: 'submit', :name => "status", :value => "open", class: "link") do
							%span.text Mark As Open
						= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print show-print") do
							%span.text Print
				= button_tag(type: 'submit', :name => 'status', :value => 'discard', :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger') do
					%span.text Discard
				= button_tag(type: 'submit', :name => 'status', :value => 'cancel_changes', class: 'btn btn-danger') do
					%span.text Cancel Changes
				= button_tag(type: 'submit', :name => "status", :value => "save", class: "btn btn-save") do
					%span.text Save Changes
			-elsif button == "Open PO"
				= simple_form_for @purchase_order, url: purchase_order_path do |f|
					.elipsis.btn
						%span.text
							&middot;&middot;&middot;
						.tool-tip.below.left-align
							- if @purchase_order.status == "open" && @purchase_order.archived != true && @purchase_order.was_deleted != true
								= button_tag(type: 'submit', :name => "status", :value => "cancelled", :data => { :confirm => 'Are you sure?' }, class: "link") do
									%span.text Cancel this PO
							- if @purchase_order.was_deleted != true 
								= button_tag(type: 'submit', :name => "status", :value => "duplicate", :data => { :confirm => 'Are you sure?' }, class: "link") do
									%span.text Duplicate as New
							= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print show-print") do
								%span.text Print
					= button_tag(type: 'submit', :name => "status", :value => "closed", :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary") do
						%span.text Mark as Closed
			-elsif button == "Closed PO"
				= simple_form_for @purchase_order, url: purchase_order_path do |f|
					.elipsis.btn
						%span.text
							&middot;&middot;&middot;
						.tool-tip.below.left-align
							= button_tag(type: 'submit', :name => "status", :value => "open", class: "link") do
								%span.text Mark As Open
							= button_tag(type: 'submit', :name => "status", :value => "duplicate", :data => { :confirm => 'Are you sure?' }, class: "link") do
								%span.text Duplicate as New
							= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print show-print") do
								%span.text Print
					= button_tag(type: 'submit', :name => "status", :value => "archive", :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary") do
						%span.text Archive
			-elsif button == "Cancelled PO"
				= simple_form_for @purchase_order, url: purchase_order_path do |f|
					.elipsis.btn
						%span.text
							&middot;&middot;&middot;
						.tool-tip.below.left-align
							= button_tag(type: 'submit', :name => "status", :value => "deleted", :data => { :confirm => 'Are you sure?' }, class: "link") do
								%span.text Delete PO
							= button_tag(type: 'submit', :name => "status", :value => "duplicate", :data => { :confirm => 'Are you sure?' }, class: "link") do
								%span.text Duplicate as New
							= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print show-print") do
								%span.text Print
					= button_tag(type: 'submit', :name => "status", :value => "archive", :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary") do
						%span.text Archive
			-elsif button == "Archived PO"
				= simple_form_for @purchase_order, url: purchase_order_path do |f|
					.elipsis.btn
						%span.text
							&middot;&middot;&middot;
						.tool-tip.below.right-align
							= button_tag(type: 'submit', :name => "status", :value => "unarchive", :data => { :confirm => 'Are you sure?' }, class: "link") do
								%span.text Unarchive
							- if @purchase_order.read_attribute(:status) == "cancelled"
								= button_tag(type: 'submit', :name => "status", :value => "deleted", :data => { :confirm => 'Are you sure?' }, class: "link") do
									%span.text Delete PO
							= button_tag(type: 'submit', :name => "status", :value => "duplicate", :data => { :confirm => 'Are you sure?' }, class: "link") do
								%span.text Duplicate as New
							= button_tag(type: 'submit', :name => "status", :value => "print", class: "link btn-print show-print") do
								%span.text Print
			-elsif button == "Create New Vendor"
				= button_to new_vendor_path, method: 'get', class: 'btn btn-primary' do
					%span.text Create New Vendor
				= render :partial => "vendors/pager"
			-elsif button == "Save Vendor"
				= link_to vendors_path, class: 'btn' do
					%span.text Cancel
				- if action_name == "edit"
					= link_to @vendor, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
						%span.text Delete Vendor
				= button_tag(type: 'submit', class: "btn btn-save") do
					%span.text Save Vendor
			-elsif button == "Save Address"
				= link_to edit_company_path(@company), class: 'btn' do
					%span.text Cancel
				- if action_name == "edit"
					= link_to @address, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
						%span.text Delete Address
				= button_tag(type: 'submit', class: "btn btn-save") do
					%span.text Save Address
			-elsif button == "Save Settings"
				-#= link_to edit_company_path(@company), class: 'btn' do
				-#	%span.text Cancel
				= button_tag(type: 'submit', class: "btn btn-save") do
					%span.text Save Settings
