<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swiftorders, Absolutely Easy Purchase Orders for Your Business</title>
  <link rel="icon" type="image/x-icon" href="favicon.gif">
  <!-- TYPOGRAPHY -->
  <!-- ideal sans -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6317272/712246/css/fonts.css" />
  <!-- pacifico -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- helvetica -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/064d369a-c717-4ea9-95f5-2158eabd48f8.css"/>
  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Stylesheet -->
  <%= stylesheet_link_tag "marketing" %> 
</head>
<body>
  <nav class="clearfix">
    <h1><a href="/marketing"><%= image_tag "swiftordersLogo.jpg" %></a></h1>
    <div class="navButtons">
      <a href=""><button>Features</button></a>
      <a href="/pricing"><button>Pricing</button></a>
      <a href=""><button>Help</button></a>
      <a href="/login"><button>Log In</button></a>
      <a href="/signup"><button class="signUpButton">Sign Up Free</button></a>
    </div> <!-- end navButtons -->
  </nav>
  <header class="clearfix">
    <h2>Absolutely Easy Purchase Orders<span>for</span>Your Modern Business</h2>
    <h3>Swiftorders is cloud based software for better business purchasing.</h3>
    <h3>Get started now — it's free for 30 days.</h3>
    <p>No credit card required</p>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <%= f.input :email, required: true, placeholder: 'Your Email Address' %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), placeholder: 'Your Password' %>
          <%= f.button :submit, "Begin Free Trial" %>
      <% end %>
    <!-- <form action="startMod.html">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <input type="submit" value="Begin Free Trial">
    </form> -->
    <div class="headerSection clearfix">
      <div class="betterPOs">
        <h4>Much Better POs</h4>
        <p>Swiftorders makes it simple to order goods and coordinate with suppliers. Manage purchase orders with ease. Delight your customers by delivering on time, and with no costly mistakes.</p>
      </div> <!-- end betterPOs -->
      <div class="betterPOsImg">
         <%= image_tag "computer.jpg" %>
      </div> <!-- end betterPOsImg -->
     
    </div> <!-- end headerSection -->
  </header>
  <main>
    <h2>Say goodbye to painful purchasing.</h2>
    <h3>If you're using a PO book, sending orders by fax, or managing a folder full of PDF attachments, you're going to love Swiftorders. We make business purchasing easy. Send POs in moments. Managing orders is a breeze. </h3>
   <%= image_tag "happyCustomer.jpg" %>
  </main>

  <footer>
    <div class="footerContainer clearfix">
      <ul class="description">
        <li><%= image_tag "swiftordersLogo.jpg" %></li>
        <li>Swiftorders is cloud based software for better business purchasing. We are engineers, designers, merchants and professional purchasers. Swiftorders makes it easy to create and send numbered POs in moments. Manage your orders with sort and fast search. Check status, add tags, and star important orders. Pain-free POs.</li>
      </ul>
      <ul class="product">
        <li class="title">Product</li>
        <li>Features</li>
        <li>Pricing</li>
        <li>Security</li>
      </ul>
      <ul class="community">
          <li class="title">Community</li>
          <li>Customers</li>
          <li>Help & Support</li>
          <li>Resources</li>
          <li>Blog</li>
      </ul>
      <ul class="company">
        <li class="title">Company</li>
        <li>About Us</li>
        <li>Press</li>
        <li>Careers</li>
        <li>Legal</li>
        <li>Contact</li>
      </ul>
    </div> <!-- end footerContainer -->
    <p class="copyright">Copyright &copy; 2015 Swiftorders<p>
  </footer>
</body>
</html>