<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up for Swiftorders, Absolutely Easy Purchase Orders for Your Business</title>
  <link rel="icon" type="image/x-icon" href="favicon.gif">
  <!-- TYPOGRAPHY -->
  <!-- ideal sans -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6317272/712246/css/fonts.css" />
  <!-- pacifico -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- helvetica -->
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/064d369a-c717-4ea9-95f5-2158eabd48f8.css"/>
  <!-- JQUERY -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- Stylesheet -->
  <%= stylesheet_link_tag "marketing" %> 
</head>
<body class="signUpBody">
  <nav class="clearfix">
    <h1><%= image_tag "swiftordersLogo.jpg" %></h1>
    <ul>
      <li>Features</li>
      <li>Pricing</li>
      <li>Help</li>
      <li><a href="http://swiftorders.com">Log In</a></li>
      <li><button><a href="users/sign_up">Sign Up Free</a></button></li>
    </ul>
  </nav>
  <main class="signUpMain">
    <div class="log-in">
      <h2>Start Your 30 Day Free Trial</h2>
      <h3>Not to worry, you can change all of these settings later.</h3>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <p class="label">First name</p><%= f.input :first_name, required: true, autofocus: true, placeholder: 'Your First Name' %>
          <p class="inputHint"> Will be displayed on outbound POs.</p>
          <p class="label">Last name</p><%= f.input :last_name, required: true, autofocus: true, placeholder: 'Your Last Name' %>
          <p class="inputHint">Will be displayed on outbound POs.</p>
          <p class="label emailLabel">Email</p><%= f.input :email, required: true, autofocus: true, placeholder: 'Your Email Address' %>
          <p class="inputHint">You will use this to sign into your stores.</p>
          <p class="label">Password</p><%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), placeholder: 'Your Password' %>
          <p class="inputHint">Easy to remember, hard to guess. Minimum 8 characters please.</p>
        </div> <!-- end form-inputs -->
        <div class="form-actions">
          <%= f.button :submit, "NEXT" %>
        </div> <!-- end form-actions -->
      <% end %>
    </div> <!-- end log-in -->
  </main>
  <div class="startCustomer">
        <%= image_tag "startCustomer.jpg", alt: "Happy Swiftorders Customer" %>
  </div>

 <footer>
    <div class="footerContainer clearfix">
      <ul class="description">
        <li><%= image_tag "swiftordersLogo.jpg" %></li>
        <li>Swiftorders is cloud based software for better business purchasing. We are engineers, designers, merchants and professional purchasers. Swiftorders makes it easy to create and send numbered POs in moments. Manage your orders with sort and fast search. Check status, add tags, and star important orders. Pain-free POs.</li>
      </ul>
      <ul class="product">
        <li class="title">Product</li>
        <li>Features</li>
        <li>Pricing</li>
        <li>Security</li>
      </ul>
      <ul class="community">
          <li class="title">Community</li>
          <li>Customers</li>
          <li>Help & Support</li>
          <li>Resources</li>
          <li>Blog</li>
      </ul>
      <ul class="company">
        <li class="title">Company</li>
        <li>About Us</li>
        <li>Press</li>
        <li>Careers</li>
        <li>Legal</li>
        <li>Contact</li>
      </ul>
    </div> <!-- end footerContainer -->
    <p class="copyright">Copyright &copy; 2015 Swiftorders<p>
  </footer>
</body>
</html>
