= simple_form_for(@fax) do |f|
  = f.error_notification

  .form-inputs
    = f.input :recipient_name
  .form-inputs
    = f.input :company_name
  .form-inputs.phone
    = f.input :fax_number
  .form-inputs
    = f.input :subject
  .form-inputs
    = f.input :content

  .form-actions
    = f.submit "Send", :name => "send"
    = f.submit "Save as Draft", :name => "draft"
