%h1 Listing faxes
%br

%table
  %thead
    %tr
      %th Recipient name
      %th Company name
      %th Fax number
      %th Subject
      %th Content
      %th Status
      %th
      %th
      
  %tbody
    - @faxes.each do |fax|
      %tr
        %td= fax.recipient_name
        %td= fax.company_name
        %td= fax.fax_number
        %td= fax.subject
        %td= fax.content
        %td= fax.status
        %td= link_to 'Show', fax
        -if fax.status == "draft"
          %td= link_to 'Edit', edit_fax_path(fax)
          %td= link_to 'Destroy', fax, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fax', new_fax_path
