.wrapper.section.clear
	.section-description
		%h3 Company Details
		%p Provide information about your company. The email address is the address from which your purchase orders will be sent.
	.section-content
		.card
			= simple_form_for(@company) do |f|
				= f.error_notification
				.form-inputs
					= f.input :name
				.form-inputs
					= f.input :email
				.form-inputs
					= f.input :fax
				.form-inputs
					= f.input :telephone
				.buttons
					= link_to company_path(@company), class: 'btn btn-cancel' do
						%i.fa.fa-undo.fa-fw
						%span.text Cancel
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save
.divider
.wrapper.section.clear
	.section-description
		%h3 Purchase Orders
		%p Customize the purchase orders.
	.section-content
		.card
			= simple_form_for(@company) do |f|
				.form-inputs
					= f.input :prefix
				.buttons
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save
