= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :fax
    = f.input :telephone
    - @company.addresses.each do |address|
      = f.fields_for address, index: address.id do |a|
        = a.input :name
        = a.input :address
        = a.input :telephone
        = a.input :agent

  .form-actions
    = f.button :submit
