= simple_form_for(@company) do |f|
  = f.error_notification

  %table
    %thead
      %tr
        %th.text-label Name
        %th.text-label Email
        %th.text-label Fax
        %th.text-label Telephone
    %tbody
      %tr
        %td= f.input_field :name
        %td= f.input_field :email
        %td= f.input_field :fax
        %td= f.input_field :telephone
  .buttons
    = link_to 'Cancel', company_path(@company), class: 'btn btn-cancel'
    = f.button :submit, 'Save', class: 'btn-add'
