= render :partial => "shared/header", :locals => {:title => "Settings",:icon => "fa-cog"}

.wrapper
  .card
    %h4 Send Purchase Orders From
    %table
      %tr
        %th.text-label Name
        %th.text-label Email
        %th.text-label Fax
        %th.text-label Telephone
      %tr
        %td= @company.name
        %td= @company.email
        %td= @company.fax
        %td= @company.telephone
    .buttons
      = button_to edit_company_path(@company), method: 'get', class: 'btn btn-edit' do
        %i.fa.fa-pencil.fa-fw
        %span.text Edit
.divider
.wrapper
  .card
    %h4 Your Additional Addresses
    - if @company.addresses.length == 0
      No purchase orders found. Click the button below to create a new one.
    - else
      %table.sortable
        %thead
          %tr
            %th.text-label Name
            %th.text-label Address
            %th.text-label Purchasing Agent
            %th.text-label Telephone
        %tbody
          - @company.addresses.each do |address|
            %tr
              %td= link_to address.name, edit_address_path(address)
              %td= address.address
              %td= address.agent
              %td= address.telephone
