= simple_form_for @vendor do |f|
	- if action_name == "edit"
		= render :partial => "shared/header", :locals => {:title => @vendor.name,:icon => "fa-bus", :hasbutton => true, :button => "Save Vendor" }
	- else
		= render :partial => "shared/header", :locals => {:title => "Create New Vendor",:icon => "fa-bus", :hasbutton => true, :button => "Save Vendor" }
	.contents.section.clear
		.section-description
			%h3 Vendor Details
			%p Provide information about your vendors. The email address is the address to which the purchase orders will be sent.
		.section-content
			.card
				- if @vendor.errors.any?
					#error_explanation
						%h2= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved:"
						%ul
							- @vendor.errors.full_messages.each do |msg|
								%li= msg
				.form-inputs
					= f.input :name, label: 'Vendor name'
				.form-inputs
					= f.input :contact, label: 'Contact name'
				.form-inputs
					= f.input :email, label: 'Email address'
				.form-inputs.phone
					= f.input :telephone
				.form-inputs.phone
					= f.input :fax
