= simple_form_for @vendor do |f|
  - if @vendor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vendor.errors.count, "error")} prohibited this vendor from being saved:"
      %ul
        - @vendor.errors.full_messages.each do |msg|
          %li= msg

  %table
    %thead
      %tr
        %th.text-label Name
        %th.text-label Email
        %th.text-label Contact
        %th.text-label Telephone
    %tbody
      %tr
        %td= f.input_field :name
        %td= f.input_field :email
        %td= f.input_field :contact
        %td= f.input_field :telephone
  .buttons
    = link_to vendors_path, class: 'btn btn-cancel' do
      %i.fa.fa-undo.fa-fw
      %span.text Cancel
    - if action_name == "edit"
      = link_to 'Delete Vendor', @vendor, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-cancel'
    = button_tag(type: 'submit', class: "btn btn-add") do
      %i.fa.fa-save.fa-fw
      %span.text Save Vendor

