%p#notice= notice

%p
  %b Name:
  = @vendor.name
%p
  %b Email:
  = @vendor.email
%p
  %b Contact:
  = @vendor.contact
%p
  %b Telephone:
  = @vendor.telephone

= link_to 'Edit', edit_vendor_path(@vendor)
\|
= link_to 'Back', vendors_path
