.log-in
	%h2 Log in to manage your orders
	= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
		.form-inputs
			= f.input :email, required: true, autofocus: true
			= f.input :password, required: true
			.form-inputs.forgot-password.right
				- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
					= link_to "Forgot your password?", new_password_path(resource_name)
		.form-actions
			= f.button :submit, "Log in"
		.remember-me.right
			= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
.log-in.links
	= render "devise/shared/links"
