.wrapper.section.clear
	.section-description
		%h3 Address Details
		%p Provide information about your address. Theese addresses will be avliable as Send To destinations.
	.section-content
		.card
			= simple_form_for @address do |f|
				- if @address.errors.any?
					#error_explanation
						%h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
						%ul
							- @address.errors.full_messages.each do |msg|
								%li= msg
				.form-inputs
					= f.input :name
				.form-inputs
					= f.input :address, as: :text, input_html: { class: 'string', rows: 3 }
				.form-inputs
					= f.input :agent, label: 'Receiving agent'
				.form-inputs
					= f.input :telephone
				.buttons
					= link_to @company, class: 'btn btn-cancel' do
						%i.fa.fa-undo.fa-fw
						%span.text Cancel
					- if action_name == "edit"
						= link_to @address, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-cancel' do
							%i.fa.fa-trash.fa-fw
							%span.text Delete Address
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save Address
