.wrapper.section.clear
	.section-description
		%h3 Address Details
		%p Provide information about your address. Theese addresses will be avliable as Send To destinations.
	.section-content
		.card
			= simple_form_for @address do |f|
				- if @address.errors.any?
					#error_explanation
						%h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
						%ul
							- @address.errors.full_messages.each do |msg|
								%li= msg
				.form-inputs
					= f.label 'Name'
					= f.text_field :name
				= f.simple_fields_for :address do |af|
					- if @address.address.blank?
						.form-inputs
						= af.label 'Address Line 1'
						= af.text_field :address_line_1, label: 'Address Line 1'
						.form-inputs
						= af.label 'Address Line 2'
						= af.text_field :address_line_2, label: 'Address Line 2'
						.form-inputs
						= af.label 'City'
						= af.text_field :city, label: 'City'
						.form-inputs
						= af.label 'State / Province'
						= af.text_field :state, label: 'State / Province'
						.form-inputs
						= af.label 'Country'
						= af.text_field :country
						.form-inputs
						= af.label 'Zip / Postal Code'
						= af.text_field :zip, label: 'Zip / Postal Code'
					- else					
						.form-inputs
						= af.label 'Address Line 1'
						= af.text_field :address_line_1, label: 'Address Line 1', :value => @address.address[:address_line_1]
						.form-inputs
						= af.label 'Address Line 2'
						= af.text_field :address_line_2, label: 'Address Line 2', :value => @address.address[:address_line_2]
						.form-inputs
						= af.label 'City'
						= af.text_field :city, label: 'City', :value => @address.address[:city]
						.form-inputs
						= af.label 'State / Province'
						= af.text_field :state, label: 'State / Province', :value => @address.address[:state]
						.form-inputs
						= af.label 'Country'
						= af.text_field :country, :value => @address.address[:country]
						.form-inputs
						= af.label 'Zip / Postal Code'
						= af.text_field :zip, label: 'Zip / Postal Code', :value => @address.address[:zip]
				.form-inputs
					= f.label 'Receiving agent'
					= f.text_field :agent
				.form-inputs
					= f.label 'Telephone'
					= f.text_field :telephone
				.buttons
					= link_to @company, class: 'btn btn-cancel' do
						%i.fa.fa-undo.fa-fw
						%span.text Cancel
					- if action_name == "edit"
						= link_to @address, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-cancel' do
							%i.fa.fa-trash.fa-fw
							%span.text Delete Address
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save Address
