.wrapper.section.clear
	.section-description
		%h3 Address Details
		%p Provide information about your address. Theese addresses will be avliable as Send To destinations.
	.section-content
		.card
			= simple_form_for @address do |f|
				- if @address.errors.any?
					#error_explanation
						%h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
						%ul
							- @address.errors.full_messages.each do |msg|
								%li= msg
				.form-inputs
					= f.input :name, label: 'Name'
				= f.simple_fields_for :address do |af|
					- if @address.address.blank?
						.form-inputs
							= af.label 'Address Line 1'
							= af.text_field :address_line_1, class: 'string'
						.form-inputs
							= af.label 'Address Line 2'
							= af.text_field :address_line_2, class: 'string'
						.form-inputs.clear
							.half.first
								= af.label 'City'
								= af.text_field :city, class: 'string'
							.half
								= af.label 'State / Province'
								= af.text_field :state, class: 'string'
						.form-inputs.clear
							.half.first
								= af.label 'Country'
								= af.text_field :country, class: 'string'
							.half
								= af.label 'Zip / Postal Code'
								= af.text_field :zip, class: 'string'
					- else					
						.form-inputs
							= af.label 'Address Line 1'
							= af.text_field :address_line_1, class: 'string', :value => @address.address[:address_line_1]
						.form-inputs
							= af.label 'Address Line 2'
							= af.text_field :address_line_2, class: 'string', :value => @address.address[:address_line_2]
						.form-inputs.clear
							.half.first
								= af.label 'City'
								= af.text_field :city, class: 'string', :value => @address.address[:city]
							.half
								= af.label 'State / Province'
								= af.text_field :state, class: 'string', :value => @address.address[:state]
						.form-inputs.clear
							.half.first
								= af.label 'Country'
								= af.text_field :country, class: 'string', :value => @address.address[:country]
							.half
								= af.label 'Zip / Postal Code'
								= af.text_field :zip, class: 'string', :value => @address.address[:zip]
				.form-inputs.clear
					.half.first
						= f.input :agent, label: 'Receiving agent'
					.half
						= f.input :telephone
				.buttons
					= link_to @company, class: 'btn btn-cancel' do
						%i.fa.fa-undo.fa-fw
						%span.text Cancel
					- if action_name == "edit"
						= link_to @address, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-cancel' do
							%i.fa.fa-trash.fa-fw
							%span.text Delete Address
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save Address
