.wrapper.section.clear
	.section-description
		%h3 Address Details
		%p Provide information about your address. Theese addresses will be avliable as Send To destinations.
	.section-content
		.card
			= simple_form_for @address do |f|
				- if @address.errors.any?
					#error_explanation
						%h2= "#{pluralize(@address.errors.count, "error")} prohibited this address from being saved:"
						%ul
							- @address.errors.full_messages.each do |msg|
								%li= msg
				%table
					%thead
						%tr
							%th.text-label Name
							%th.text-label Address
							%th.text-label Purchasing Agent
							%th.text-label Telephone
					%tbody
						%tr
							%td= f.input_field :name
							%td= f.input_field :address
							%td= f.input_field :agent
							%td= f.input_field :telephone
				.buttons
					= link_to @company, class: 'btn btn-cancel' do
						%i.fa.fa-undo.fa-fw
						%span.text Cancel
					- if action_name == "edit"
						= link_to 'Delete Address', @address, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-cancel'
					= button_tag(type: 'submit', class: "btn btn-add") do
						%i.fa.fa-save.fa-fw
						%span.text Save Address
