.app-header
	.wrapper
		.title
			%h1
				= link_to purchase_orders_path do
					= @company.name
		.user
			%span.name
				= link_to edit_user_registration_path do
					= current_user.first_name
					= current_user.last_name
				.tool-tip.below
					= link_to edit_user_registration_path do
						%span.text User Settings
					.divider
					= link_to destroy_user_session_path, method: :delete do
						%span.text Sign Out
			.arrow-down
