.sidebar
	.button
		= button_to new_purchase_order_path, method: 'get', class: 'btn btn-primary btn-large' do
			%span.text Create New PO
	.search
		%i.fa.fa-search.fa-fw
		%span.text Search...
	%ul
		%li.orders
			= link_to purchase_orders_path, class: cp(purchase_orders_path) do
				%span.text Purchase Orders
				%i.fa.fa-pencil-square-o.fa-fw
		%li.vendors
			= link_to vendors_path, class: cp(vendors_path) do
				%span.text Vendors
				%i.fa.fa-bus.fa-fw
		%li.divider
		%li.settings
			= link_to company_path(@company), class: cp(company_path(@company)) do
				%span.text Settings
				%i.fa.fa-cog.fa-fw
		//%li.fax
		//	= link_to faxes_path, class: cp(faxes_path) do
		//		%span.text Faxes
		//		%i.fa.fa-fax.fa-fw
		- unless current_user.subscription.present? 
			- if current_user.confirmed?
				%li.sign_up
				= link_to new_subscription_path, class: cp(new_subscription_path) do
					%span.text Sign Up!
					%i.fa.fa-thumbs-up.fa-fw

		- if current_user.subscription.present? 
			%li.update_subscription_info
			= link_to edit_subscription_path(current_user.subscription), class: cp(edit_subscription_path(current_user.subscription)) do
				%span.text Edit Subscription Info
				%i.fa.fa-user.fa-fw
		%li.help
			= link_to purchase_orders_path do
				%span.text Help
				%i.fa.fa-question-circle.fa-fw
