.sidebar
	%ul
		%li.header
			%a{ :href => purchase_orders_path, :class => "no_hover" }
				%h1
					= @company.name
		%li.button
			= button_to new_purchase_order_path, method: 'get', class: 'btn btn-add' do
				%span.text New Purchase Order
		%li.orders
			= link_to purchase_orders_path, class: cp(purchase_orders_path) do
				%span.text Purchase Orders
				%i.fa.fa-list-alt.fa-fw
		%li.vendors
			= link_to vendors_path, class: cp(vendors_path) do
				%span.text Vendors
				%i.fa.fa-truck.fa-fw
		%li.divider
		%li.settings
			= link_to company_path(@company), class: cp(company_path(@company)) do
				%span.text Settings
				%i.fa.fa-cog.fa-fw
		%li.account
			= link_to edit_user_registration_path, class: cp(edit_user_registration_path) do
				%span.text Account
				%i.fa.fa-user.fa-fw
		%li.fax
			= link_to faxes_path, class: cp(faxes_path) do
				%span.text Faxes
				%i.fa.fa-user.fa-fw
		- unless current_user.subscription.present?
			%li.sign_up
			= link_to new_subscription_path, class: cp(new_subscription_path) do
				%span.text Sign Up!
				%i.fa.fa-user.fa-fw
		/- else
		/    %li.update_subscription_info
		/    = link_to edit_subscription_path, class: cp(edit_subscription_path) do
		/    	%span.text Edit Subscription Info
		/    	%i.fa.fa-user.fa-fw
	/	%li.help
	/		%span.text Need Help?
